@charset "UTF-8";

@import "fontello.css";
@import "animation.css";

.lythrankingaddcategory tfoot {
    height: 25px!important;
}
.lythrankingaddcategory .icon-spin5 {
    display: none;
}
div.alert  {
    width: 250px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    margin: 10px 0 20px 10px;
    background: #ffffff;
}
div.alert p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    margin: 0 0 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
div.alert i {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    font-size: 18px;
    padding: 7px;
    background: 0 0;
    color: #72777c;
    cursor: pointer;
}
div.alert i::before {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
}
div.alert-success {
    border-left: 4px solid green;
}
div.alert-error {
    border-left: 4px solid red;
}
#two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#first-col>form,
#second-col>div {
    border: 2px solid #444444;
    background-color: #e8e8e8;
    border-radius: 5px;
}
#first-col {
    width: 25%;
}
#second-col {
    width:60%;
}
#add-category {
    padding: 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#add-category .group-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
#add-category .group-form-horizontal {
    width: 100%;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#add-category input[name="name"] {
    width: 100px!important;
}
#add-category input[name="position"] {
    width: 50px!important;
}
#add-category select[name="parent"] {
    width: 120px!important;
}
#add-category button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
    height: 30px;
    font-weight: 700;
    background: #ffffff;
    color: #000000;
    border: 2px solid #cccccc;
}
#add-category button:hover,
#category-list #delete_btn:hover,
#category-list #update_btn:hover {
    border: 2px inset lightblue;
    background-color: #e7e7e7;
}
#category-list th {
    text-align: center;
}
#category-list .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.btn-drop {
    width: 20%;
    height: 30px;
    border-radius: 0 5px 5px 0;
    background: #ffffff;
    color: #000000;
    border: 2px solid #cccccc;
    text-align: center;
    padding: 0;
}
#category-list #update_btn{
    border-radius: 5px 0 0 5px;
    width: 80%;
    text-align: center;
    height: 30px;
    font-weight: 700;
    background: #ffffff;
    color: #000000;
    border: 2px solid #cccccc;
    border-right: 0;
}
.btn-group .dropdown {
    position: absolute;
    top: 30px;
    right: 0px;
    display: none;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
#category-list #delete_btn {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 30px;
    font-weight: 700;
    background: #ffffff;
    color: #000000;
    border: 2px solid #cccccc;
    border-radius: 5px;
}
#category-list .children .icon-level-down {
    margin-right: 20px;
}
#category-list .children .icon-level-down::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
